
* {
    box-sizing: border-box;
}
.application {
    
    float: right;
}
@media (max-width: 500px) {
    .application {
      float: right;
    //   margin: 0 auto; /* Center the image horizontally */
    }
  }