* {
  box-sizing: border-box;
}
.application {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  align-items: center;
  font-size: 1.5rem;
//   justify-content: space-around;
  margin: 0 0 5px;
  padding: 1.5rem;
//   position: relative;
}

p {
  display: flex;
  color: #fff;
  text-decoration: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .application {
    width: 100%;
    margin-bottom: 20px;
  }

  .application h2,
  .application p {
    text-align: center;
  }
}
